// colors
$primary: hsl(169, 82%, 27%);
$bgColor: hsl(148, 38%, 91%);
$formLevel: hsl(186, 15%, 59%);
$white: #fff;
$borderColor: hsl(148, 38%, 91%);
$heading: #2e3e3e;
$errorColor: hsl(0, 66%, 54%);
$successBg: rgb(42, 66, 68);
$hoverColor: rgb(6, 63, 54);
