@use "../common/variable.scss";

@mixin button {
  border: none;
  outline: none;
  border-radius: 8px;
  background-color: variable.$primary;
  color: variable.$white;
  font-weight: 700;
  font-size: 16px;
  cursor: pointer;
  transition: all linear 0.3s;
  &:hover {
    background-color: variable.$hoverColor;
  }
}
